#wall div.tag-1 {
	display: none;
}

#wall div#tag-2 {
	display: none;
}

div#wall div#tag-3.slick.wicked {
	display: none;
}

#wall div.parent #tag-4 {
	display: none;
}

div#wall div.parent #tag-5.slick {
	display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
	display: none;
}

body div#wall div.parent div div#tag-7.slick {
	display: none;
}

/* Below doesn't work I don't think/to be checked */

div#wall .parent #tag-5.slick {
	display: none;
}

div.slick {
	display: none;
}

div.parent div #tag-6 {
	display: none;
}

div.slick {
	display: none;
}